.step-label-top .ant-steps-item-content {
  position: relative;
  top: -110px;
  display: flex !important;
  align-items: end;
  height: 100%;
}

.step-label-bottom .ant-steps-item-content {
  position: relative;
  height: 100%;
}

.ant-steps-item-title {
  display: flex !important;
  min-width: 160px !important;
  justify-content: center;
  font-size: 12px;
  line-height: 15px;
}

.ant-steps {
  margin-inline: auto;
  max-width: 90%;
  padding-inline: 4%;
  display: flex;
  justify-content: center;
  .ant-steps-item-finish{
    .ant-steps-item-tail::after, .ant-steps-icon-dot {
      background-color: #4FAF3B !important;
    }
  }
  .ant-steps-item-process {
    .ant-steps-icon-dot {
      background-color: #4FAF3B !important;
    }
  }
 }

.ant-steps-item-content {
  position: relative !important;
  display: flex !important;
  justify-content: center;
}

.steps-container {
  height: 170px;
  display: flex;
  margin-inline: auto;
  margin-bottom: 20px;
  align-items: end;
}